#title, .subtitle, .post_title{
    color: blue;

}

.post_title{
    font-size: 16px;
    font-style: italic;
}

body {
    background: burlywood;
}

.post {
    background: cornsilk;
    padding: 10px;
    border: 3px solid black;
    margin: 5px;
}